<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @link.summary %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.name %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>

<div class="col-sm-8">

  <h3>Comments</h3>

  <% @link.comments.each do |comment| %>
    <%= render template: 'comments/comment', locals: { comment: comment } %>
  <% end %>

    <div class="comments_form">
      <%= render template: 'comments/new' if current_user %>
    </div>
</div>
